
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
</head>
<body>
    <div> 
        <form action="Calcular" method="post">
            <label for=" = campo-numero-01">Número 01</label>
            <input type="number" name="numero01" id="campo-numero-01" />
            <label for=" = campo-numero-02">Número 02</label>
            <input type="number" name="numero02" id="campo-numero-02" />
            <input type="submit" value="Calcular" />
        </form>
    </div>
</body>
</html>
