
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calcular</title>
</head>
<body>
    <div> 
    <h3> A soma de @ViewBag.Numero01 e @ViewBag.Numero02 é @ViewBag.Numero01@ViewBag.Numero02 ops @ViewBag.Soma</h3>
    </div>
</body>
</html>
