
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TituloPagina</title>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome/" />
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
